@model IEnumerable<Department>

<div class='container'>
<h2>Department Listing<h2>
    <h3>@Html.ActionLink("Add Department","Create")</h3>
    <br>
    <table class="table table-bordered">
        <thead>
            <th>@Html.DisplayNameFor(d=>d.Id)</th>
            <th>@Html.DisplayNameFor(d=>d.DeptName)</th>
            <th>@Html.DisplayNameFor(d=>d.Location)</th>

        </thead>
        <tbody>
            @foreach(var d in @Model)
            {
                <tr>
                <td>@d.Id</td>
                <td>@d.DeptName</td>
                <td>@d.Location</td>
                <td></td>
                <td>
                    @Html.ActionLink("Details","Display",new{id=d.Id}) &nbsp;&nbsp;
                    @Html.ActionLink("Edit","Edit",new{id=d.Id}) &nbsp;&nbsp;
                    @Html.ActionLink("Delete","Delete",new{id=d.Id}) &nbsp;&nbsp;
               </td>
                </tr>
            }
        </tbody>
    </table>
</div>